<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-md-0">
            <div class="row d-flex no-gutters">
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" img src="~/images/work-1.jpg" >
                          
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Black &amp; Gold Paint Face</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-2.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Green Leaves</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-3.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Coal</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-4.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Top Leaf</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-5.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Building</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-6.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Black Model</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-7.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Pug Puppy</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-8.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">White Flower</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-9.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Turtle</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-10.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Phone</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-11.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Boy</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 portfolio-wrap-2">
                    <div class="row no-gutters align-items-center">
                        <div href="#" class="img w-100 js-fullheight d-flex align-items-center" style="background-image: url(images/work-12.jpg);">
                            <div class="text p-4 p-md-5 ftco-animate">
                                <div class="desc">
                                    <div class="top">
                                        <span class="subheading">Portrait</span>
                                        <h2 class="mb-4"><a href="single.html">Model</a></h2>
                                        <p><a href="single.html" class="custom-btn">View Portfolio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-12">
                    <a href="#" class="btn-custom-load d-block w-100 text-center py-4">Load more <span class="fa fa-refresh"></span></a>
                </div>
            </div>
        </div>
    </section>
</div><!-- END COLORLIB-MAIN -->